@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

.welcome-container {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 3rem 2rem;
  font-family: 'IBM Plex Mono', monospace;
  
  letter-spacing: 0.1em;
  font-weight: 600;
  background: none;
  color: black;
  pointer-events: none;
  z-index: 10;
  align-items: flex-start;
  box-sizing: border-box;
}

.welcome-left {
  max-width: 600px;
  font-size: 0.9rem;
  line-height: 1.1;
  white-space: pre-wrap;
  margin: 0 auto;
  flex: 1 1 0;
}

.intro-heading {
  margin: 0;
}

.welcome-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  line-height: 0.7;
  gap: 0.3rem;
  align-items: flex-end;
  flex: 1 1 0;
  margin: 0 auto;
}

.label-block {
  white-space: nowrap;
}